h1 {font-size: 65px; color: blue;
    font-family: sans-serif;
    }
    li {
        background-color: red;
        text-decoration: underline;
    }
    .backgroundcolor { background-color: yellow;
        font-style: italic;
      
    }
    #amarelo {
        background-color:yellow ;
    }
    #vermelho {
        background-color: red;
    }
    #marrom {
        background-color: brown;
    }


p {
    font-weight: 600;
    font-size: 3em;
}
body{
    font-size: 16px;
    text-align: center;
}